{% load static %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'retinacad/css/list_style.css' %}">
</head>
<title>Uploads List</title>
<article>
    <h1>Fundus Retina Uploads</h1>
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Name</th>
                <th>Taken At</th>
                <th>Left Eye</th>
                <th>Right Eye</th>
                <th>Uploaded</th>
            </tr>
            {% for fundus in object_list %}
            <tr onclick="window.location='{% url 'retinacad:analysis' fundus.id %}';">
                <td>{{ fundus.name }}</td>
                <td>{{ fundus.taken_at }}</td>
                <td>
                    <img src="{{ fundus.lefteye.url }}" alt="Left Retina" width="32"> {{ fundus.lefteye.name }}</td>
                <td>
                    <img src="{{ fundus.righteye.url }}" alt="Right Retina" width="32">{{ fundus.righteye.name }}</td>
                <td>{{ fundus.uploaded_at }}</td>
                {% empty %}
                <td>No uploads yet.</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div style="text-align: center">
        <a href="{% url 'retinacad:index'%}" class="button">Upload Fundus</a>
    </div>
</article>